body {
    background-color:deepskyblue;
    font-family: Roboto, Oxygen, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    color: white

}


.App {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.verticalSort{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__part{
    text-align: center;
    width: 1100px;
}

.header__part hr{
    border: none;
    border-top: 3px dotted blue;
    
}

.counter__part{
    text-align: center;
    font-size: 3.0rem;
}

.Tic__part{
    margin-top: 30px;
    font-size: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tic__line1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 33%;
}

.Tic__line1_detail{
    width: 33%;
    text-align: center;
    height: 100%;

}

.Tic__line1_detail_C{
    width: 33%;
    text-align: center;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    height: 100%;

}

.Tic__line2{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 33%;
}

.Tic__line2_detail{
    width: 33%;
    text-align: center;
    height: 100%;
}

.Tic__line2_detail_C{
    width: 33%;
    text-align: center;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    height: 100%;
}

.Tic__line3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 33%;
}

.Tic__line3_detail{
    width: 33%;
    text-align: center;
    height: 100%;
}

.Tic__line3_detail_C{
    width: 33%;
    text-align: center;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    height: 100%;
}

footer{
    margin-top: 30px;
}

.footer__Game{
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer__Ver{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}